
.root{
	-fx-background-image: url("../Images/background.jpg");
	/*-fx-background-repeat: repeat; */  
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

.custom-title {
    /*-fx-font: 10px "Serif"; */
    -fx-padding:3;
    -fx-background-color: #C0C0C0;
    -fx-border-style:solid;
    -fx-border-width:2px;
    -fx-font-weight:bold;
}

.custom-title-white{
    -fx-padding:3;
    -fx-background-color:white;
    -fx-border-style:solid;
    -fx-border-width:2px;
    -fx-font-weight:bold;
}

.background-label{
	-fx-background-image: url("../Images/background.jpg");
}

.custom-label{
   /*-fx-padding: 1;*/
   /*-fx-background-color: #C0C0C0;*/
   -fx-background-color: #6B6B6B;
   /*-fx-background-image: url("../Images/background.jpg");*/
   -fx-text-fill: #C0C0C0;
   -fx-border-style:solid;
   /*-fx-border-width:small; */
}


.custom-field {
   /*-fx-padding: 0;*/ 
   -fx-background-color:#FFFFFF;
   -fx-border-style:solid;
}

:disabled{
	-fx-background-color:#FFFFFF;	
	-fx-text-fill: #FFFFFF;
	-fx-opacity:.95;
}

.check-box-invalid{
   -fx-background-color:#FF0000;
   -fx-opacity:0.8;
   -fx-border-style:solid;
}

.check-box-regular{
   -fx-background-color:#E0E0E0;
   -fx-border-style:solid;
}
.check-box-valid{
   -fx-background-color:#00FF00;
   -fx-opacity:0.8;
}
.separator{
   -fx-border-width:large;
}

.green-label{
	-fx-background-color: #00FF00;
	-fx-opacity:0.8;
	-fx-border-style:solid;
}

.red-label{
	-fx-background-color:#FF0000;
   -fx-opacity:0.8;
   -fx-border-style:solid;
}

.yellow-label{
	-fx-background-color:#FFFF00;
   -fx-opacity:0.8;
   -fx-border-style:solid;
	
}

.label:disabled{
	-fx-background-color: white;
	-fx-text-fill:white;	
}