
.root{
	/*-fx-background-image: url("../Images/Dark_Blue_1.jpg"); */
   /*-fx-background-color: linear-gradient(#517FA4 , #98B5CC); */
	/*-fx-background-repeat: repeat; */  
    -fx-background-size: 1600 1000;
    -fx-background-position: center center;
}

.menubar{
	-fx-background-color: rgb(81, 127, 164);
}

.TopMenubar{
	-fx-background-color: rgb(144,144,144);
}

.tabs{
	-fx-background-color: rgb(81, 127, 164);
	/*-fx-background-color: #2A4254; */
}




.loginbutton:pressed{
	-fx-padding: 4 29 2 31;
}

.loginbutton{
	-fx-graphic: url("../Images/login.png"); 
}

.toolbar{
	-fx-background-color: #6B6B6B;
}
.createOrderButton:pressed{
	-fx-padding: 4 29 2 31;
}

.createOrderButton{
	-fx-graphic: url("../Images/plus.png"); 
}
.viewWorkOrderButton:pressed{
	-fx-padding: 4 29 2 31;
}
.viewWorkOrderButton{
	-fx-graphic: url("../Images/viewPMA.png");
}

printbutton:pressed{
	-fx-padding: 4 29 2 31;
}
.printbutton{
	-fx-graphic: url("../Images/print.png");
}

.refresh:pressed{
	-fx-padding: 4 29 2 31;
}
.refresh{
	-fx-graphic: url("../Images/refresh.png");
}


.addclientbutton:pressed{
	-fx-padding: 4 29 2 31;
}

.addclientbutton{
	-fx-graphic: url("../Images/adduser.png");
}

.editclientbutton:pressed{
	-fx-padding: 4 29 2 31;
}
.editclientbutton{
	-fx-graphic: url("../Images/edituser.png");
}

.advancedsearchbutton:pressed{
	-fx-padding: 4 29 2 31;
}
.advancedsearchbutton{
	-fx-graphic: url("../Images/find.png");
}

.panel1{
	
	-fx-background-color: rgba(201,201,201,0.3); 
	-fx-text-fill: #ffffff;
	 /*-fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3) 
        transparent rgba(0,168,355,0.3);*/
}
.button:pressed{
 	-fx-text-fill: white;
 }
 
 .logoutButton:pressed{
 	-fx-padding: 4 29 2 31;
 }

.logoutButton{
	-fx-graphic: url("../Images/signout.png");
	-fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.lockButton {
	-fx-graphic: url("../Images/lock.png");
	-fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

