
.root{
	-fx-background-image: url("background.jpg");
	/*-fx-background-repeat: repeat; */  
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

.panel1{
	
	-fx-background-color: rgba(201,201,201,0.3); 
	-fx-font: #ffffff;
	 /*-fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3) 
        transparent rgba(0,168,355,0.3);*/
}