
.root{
	-fx-background-image: url("background.jpg");
	/*-fx-background-repeat: repeat; */  
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

.panel1{
	
	-fx-background-color: rgba(201,201,201,0.3); 
	-fx-text-fill: #ffffff;
	 /*-fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3) 
        transparent rgba(0,168,355,0.3);*/
}

.logoutButton{
	-fx-graphic: url("signout.png");
	-fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
	-fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
